*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    width: 100%; 
    background-image:url(ContctBG.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
    display: flex;
}
.content h1{
    font-size: 35px;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 15px;
    color: rgb(126, 42, 56);
}
.MobileContent{
    display: none;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 15px;
    color: rgb(126, 42, 56);
}
.content p1{
    font-size: 25px;
    color:black;
}
.MobileContent p1{
    font-size: 15px;
    color:black;
}
.content h1{
    font-size: 25px;
    color: rgb(104, 17, 17);
}
.MobileContent h1{
    font-size: 20px;
}
.content .btn {
    display: inline-block;
    background: linear-gradient(45deg, #240009,rgb(150, 14, 14));
    border-radius:6px ;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: rgb(71, 71, 71); 
    box-shadow: rgb(10, 10, 10);
    right: 0;
}
.homeBtn{
    width: 60px;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 0px;
}
.MobileContent .mobileBtn {
    display: inline-block;
    background: linear-gradient(45deg, #240009,rgb(150, 14, 14));
    border-radius:6px ;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: rgb(71, 71, 71); 
    box-shadow: rgb(10, 10, 10);
    right: 0;
}
.mHomeBtn{
    width: 45px;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 0px;
}
.logo3{
    width: 275px;
    cursor: pointer;
    position: absolute;
    right: 0px;
}
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
background-color: #240009;
transition: opacity 0.75s, visibility 0.75s ;
}
.loader-hidden{
    opacity: 0;
    visibility: hidden;
}
.loader::after{
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddd;
    border-top-color: #7449f5;
    border-radius: 50%;
    animation: loading 0.75s ease infinite ;
}
.QrWA{
    position: flex;
    width: 183px;
    cursor: pointer;
    left: 365px;
    bottom: 110px;
}
.mQrWA{
    display: none;
    position:absolute;
    width: 168px;
    cursor: pointer;
    left:80px;
    bottom: 50px;
}
.QrIG{
    position: flex;
    width: 190px;
    cursor: pointer;
    left: 200px;
    bottom: 114px;
}
.mQrIG{
    display: none;
    position: absolute;
    width: 175px;
    cursor: pointer;
    left: 80px;
    bottom: 150px;
}
@media screen and (max-width:770px) {
    .MobileContent{
        display: inline-block;
    }
    .content{
        display: none;
    }
    .mobileBtn{
        display: inline-block;
    }
    .btn{
        display: none;
    }
    .mHomeBtn{
        display: inline-block;
    }
    .mQrIG{
        display: inline-block;
    }
    .QrIG{
        display: none;
    }
    .mQrWA{
        display: inline-block;
    }
    .QrWA{
        display: none;
    }
}
@keyframes loading{
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}
